<div class="col-md-6">
  <select id='chamber-filter' class='form-control'>
    <option value='all'>All</option>
    <option value='house'>House</option>
    <option value='senate'>Senate</option>
  </select>
</div>

<div class="col-md-6">
  <select id='enacted-filter' class='form-control'>
    <option value='all'>All</option>
    <option value='enacted'>Enacted</option>
    <option value='notEnacted'>Not Enacted</option>
  </select>
  <br>
</div>

<div class="col-md-12">
  {{#each sortedBills as |bill|}}
    <div class='well'>
      {{#if bill.short_title}}
        {{#link-to 'bill' bill.bill_id}}<h3>{{bill.short_title}}</h3>{{/link-to}}
        <h5>{{bill.official_title}}</h5>
      {{else}}
        {{#link-to 'bill' bill.bill_id}}<h3>{{bill.official_title}}</h3>{{/link-to}}
      {{/if}}
    </div>
  {{/each}}
</div>
