{{#each bills as |bill|}}
  <div class='well'>
    {{#if bill.short_title}}
      {{#link-to 'bill' bill.bill_id}}<h3>{{bill.short_title}}</h3>{{/link-to}}
      <h5>{{bill.official_title}}</h5>
    {{else}}
      {{#link-to 'bill' bill.bill_id}}<h3>{{bill.official_title}}</h3>{{/link-to}}
    {{/if}}
  </div>
{{/each}}
